body {
    margin: 0;
    padding: 0;
    background: url("back\ groud.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

nav {
    width: 100%;
    overflow: auto;
    background: gray;
}

ul {
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

li {
    float: left;
}

li a {
    width: 100px;
    display: block;
    padding: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
}

ul li a:hover {
    color: red;
}

.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
}

h2 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white; 
}

h1{
    padding: 2%;
    text-decoration:underline;
    text-decoration-color:red ;
    text-decoration-style:wavy;
    color: white;
}

.container {
    float: center;
    margin: 50px;
    }
    
.grey-block {
    background-color: grey;
    color: white;
    padding: 20px; /* Increased padding */
    margin: 20px;  /* Increased margin */
    border-radius: 5px;
    display: inline-block;
    font-family: Arial, sans-serif;
    text-align: center; /* Center-align text inside the block */
}

.highlight {
    background-color: transparent; /* Remove the default highlight background */
    color: #FFD700; /* Change the text color to gold */
    display: inline-block; /* Ensure mark behaves as an inline-block element */
    margin-top: 10px; /* Add some space above the mark element */
}

.images {
    padding: 10px; /* Increased padding */
    margin: 20px;  /* Increased margin */
}

.images img {
    margin: 50px; /* Add margin to create space between images */
}


